* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

header {
  font-size: 25px;
  margin: 30px;
  font-weight: bold;
}

.container {
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
}
.table-div {
  width: 33vw;
  margin: 0;
}
table {
  height: 250px;
  width: 250px;
}

.btn {
  margin-top: 40px;
}
.btn > input {
  width: 100px;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 10px;
}
