* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

header {
  font-size: 25px;
  margin: 30px;
  font-weight: bold;
}

.container {
  /* font-size: 15px; */
  display: flex;
  justify-content: space-between;
}
.table-div {
  width: 30vw;
  margin: 0 30px;
}
table {
  height: 300px;
  width: 90%;
}

th,
td {
  margin: 5px;
  padding: 0 10px 10px;
}
#reach-num,
#bingo-num,
#ball-num {
  font-size: 25px;
  font-weight: bold;
}

.btn {
  margin-top: 40px;
}
.btn > input {
  width: 100px;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 10px;
}

.matched-num {
  background-color: gold;
  border-radius: 20px 20px 0 0;
}

#ball-btn {
  display: none;
}
